body {
    background-color: bisque;
}

.board-cell {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid black;
}

.board-cell-empty:before {
    content: '-';
}

.board-cell-nought:before {
    content: 'O';
}

.board-cell-cross:before {
    content: 'X';
}
